---
import Markdown from "@astropub/md/Markdown";
import {EditorPage} from "../components/react/EditorPage";
import Layout from "../layouts/Layout.astro";

const uid = Astro.cookies.get("uid");
if (!uid) {
  return Astro.redirect("/login");
}
---

<Layout title="Create">
  <main>
   <EditorPage client:only/>
  </main>
</Layout>
<style>
  main {
    overflow: hidden;
    display: flex;
    width: 100vw;
    height: 100vh;
  }

  .markdown {
    overflow: hidden;
    width: 50%;
    height: 100%;
  }
  .markdownConvert {
    padding: 8px;
    width: 50%;
    height: 100%;
  }
</style>
